<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>应急要素</title>
</head>
<body ng-controller="elementCtrl">
<!--<div class="jumbotron">-->
    <!--<ul>-->
        <!--<li><img src="/public/images/u5784.png" width="40" height="40">重大设施与危险源</li>-->
        <!--<li><img src="/public/images/u5750.png" width="40" height="40">政府机关</li>-->
        <!--<li><img src="/public/images/u5764.png" width="40" height="40">避难场所</li>-->
        <!--<li><img src="/public/images/u5779.png" width="40" height="40">通讯设施</li>-->
        <!--<li><img src="/public/images/u5743.png" width="40" height="40">医疗点</li>-->
        <!--<li><img src="/public/images/u5748.png" width="40" height="40">集结点</li>-->
        <!--<li><img src="/public/images/u5784.png" width="40" height="40">消防栓</li>-->
        <!--<li><img src="/public/images/u5784.png" width="40" height="40">消防阀</li>-->
        <!--<li><img src="/public/images/u5784.png" width="40" height="40">消防管线</li>-->
        <!--<li><img src="/public/images/u5784.png" width="40" height="40">隔离机位</li>-->
        <!--<li><img src="/public/images/u5784.png" width="40" height="40">雷达站</li>-->
        <!--<li><img src="/public/images/u5784.png" width="40" height="40">机场围界</li>-->
        <!--<li><img src="/public/images/u5784.png" width="40" height="40">其他</li>-->
    <!--</ul>-->
<!--</div>-->
    <div class="jumbotron" >

    <div class="row" style="margin: 0px">
        <div class="col-md-10" id="allmap" style="height: 500px;width: 800px;float: right" ></div>
        </div>
    </div>
</body>
</html>