<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>系统管理</title>
</head>
<body>
<div class="container" style="margin-top: 100px">
    <div class="jumbotron">
        <div>
            <ul class="nav nav-tabs navbar-static-top" role="tablist">
                <li role="presentation" data-toggle="tab"><a ui-sref="system.department">部门管理</a></li>
                <!--<li role="presentation" data-toggle="tab"><a ui-sref="system.user">用户管理</a></li>-->

            </ul>
        </div>
        <div ui-view></div>
    </div>

</div>
</body>
</html>